@using Data.Models;
@model Data.Models.CardVGA

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CardVGA</h4>
<hr />
<form class="row g-3 was-validated" asp-action="Create" method="post">
    <div class="form-floating col-md-4">
        <input asp-for="Ma" type="text" class="form-control" placeholder="Ma" required>
        <label for="">Mã Card</label>
        <span asp-validation-for="Ma" class="text-danger"></span>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Không được để trống</div>
    </div> <br>
    <div class="form-floating col-md-6">
        <input asp-for="Ten" type="text" class="form-control" placeholder="Ten" required>
        <label for="">Tên</label>
    </div>
    <div class="form-floating col-md-6">
        <input asp-for="ThongSo" type="text" class="form-control" placeholder="ThongSo" required>
        <label for="">Thông Số</label>
    </div>

    <p></p>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
