@using Data.Models;
@*@model IEnumerable<Data.Models.Manufacturer>*@

@{
    ViewData["Title"] = "Quản lý Nhà Sản Xuất";
}

<h1>Quản lý nhà sản xuất</h1>
<a asp-controller="Manufacturer" asp-action="Create" class="btn btn-outline-primary">Thêm Nhà Sản Xuất</a>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Tên Nhà Sản Xuất</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in(List<Manufacturer>)ViewBag.Manufacturer)
        {
            <tr class="table-primary">
                <th scope="row">@x.Name</th>
                <td>
                    <a asp-action="Update" asp-route-id="@x.Id" class="btn btn-outline-success">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@x.Id" class="btn btn-outline-success">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
